<div id="assignments">
 <header>
    <h2 id="date"><%= Date.today %></h2>
    <p id="task-count">
      <%= @assignments.count %> Assignments
    </p>
    <%#= render 'form', tarefa: Tarefa.new %>
  </header>
  <div id="list">
      <% @assignments.each do |assignment| %>
        <%= render assignment %>
      <% end %>
  </div>
</div>
